.search {
    color: $white;
    padding: 0 15px 0 10px ;
}

.input {
    padding: 0 0 0 14px;
    margin: 0 0 0 10px;
    width: 100px;
}

@media (min-width: 769px) {
    .input {
        display: none;
    }
}
