.footer__address {
    padding: 15px 0;
    color: $white;

    margin-top: 20px;

    background-color: $footer;
    text-align: center;
}

.footer__adress-block {
    display: flex;
    justify-content: space-between;
}

.block-adress {
    flex: 0 0 33%;
}

.block-name, .block-adress, .block-map {
    flex: 0 0 33%;
    padding: 10px 0;
}

.hotline_tel, .reception {
    padding: 10px 0;
}

@media (max-width: 495px) {
    .footer__adress-block {
        display: block;
        
    }   
}