<footer class="footer">
    
    <div class="footer__info">
        <div class="container">
            <div class="footer__dropdowns">
                <div class="footer-dropdown">
                    <div class="dropdown-component">
                        <div class="footer__dropdown__title"><a href="#">Министерство</a></div>
                        <div class="footer__dropdown__menu">
                            <ul class="footer-dropdown-list">
                                <li class="footer-dropdown__item">
                                    <a class="footer-dropdown__link" href="#">
                                        Структура
                                    </a>
                                </li>
                                <li class="footer-dropdown__item">
                                    <a class="footer-dropdown__link" href="#">
                                        Руководство
                                    </a>
                                </li>
                                <li class="footer-dropdown__item">
                                    <a class="footer-dropdown__link" href="#">
                                        Руководители ЛПУ МЗ РИ
                                    </a>
                                </li>
                                <li class="footer-dropdown__item">
                                    <a class="footer-dropdown__link" href="#">
                                        Программа
                                    </a>
                                </li>
                                <li class="footer-dropdown__item">
                                    <a class="footer-dropdown__link" href="#">
                                        Государственная служба
                                    </a>
                                </li>
                                <li class="footer-dropdown__item">
                                    <a class="footer-dropdown__link" href="#">
                                        Реквизиты
                                    </a>
                                </li>
                                <li class="footer-dropdown__item">
                                    <a class="footer-dropdown__link" href="#">
                                        Контакты
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="footer-dropdown">
                    <div class="dropdown-component">
                        <div class="footer__dropdown__title"><a href="#">Пресс-центр</a></div>
                        <div class="footer__dropdown__menu">
                            <ul class="footer-dropdown-list">
                                <li class="footer-dropdown__item">
                                    <a href="#" class="footer-dropdown__link">
                                        Новости
                                    </a>
                                </li>
                                <li class="footer-dropdown__item">
                                    <a href="#" class="footer-dropdown__link">
                                        Структура
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="footer-dropdown">
                    <div class="dropdown-component">
                        <div class="footer__dropdown__title"><a href="#">Для населения</a></div>
                        <div class="footer__dropdown__menu">
                            <ul class="footer-dropdown-list">
                                <li class="footer-dropdown__item">
                                    <a href="#" class="footer-dropdown__link">
                                        Вакцинация
                                    </a>
                                </li>
                                <li class="footer-dropdown__item">
                                    <a href="#" class="footer-dropdown__link">
                                        Медицинская помощь
                                    </a>
                                </li>
                                <li class="footer-dropdown__item">
                                    <a href="#" class="footer-dropdown__link">
                                        Лекарственное обеспечение
                                    </a>
                                </li>
                                <li class="footer-dropdown__item">
                                    <a href="#" class="footer-dropdown__link">
                                        Целевое обучение
                                    </a>
                                </li>
                                <li class="footer-dropdown__item">
                                    <a href="#" class="footer-dropdown__link">
                                        Волонтерство
                                    </a>
                                </li>
                                <li class="footer-dropdown__item">
                                    <a href="#" class="footer-dropdown__link">
                                        Интернет-приемная службы здравоохранения
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="footer-dropdown">
                    <div class="dropdown-component">
                        <div class="footer__dropdown__title"><a href="#">Документы</a></div>
                        <div class="footer__dropdown__menu">
                            <ul class="footer-dropdown-list">
                                <li class="footer-dropdown__item">
                                    <a href="#" class="footer-dropdown__link">
                                        Федеральные нормативные акты
                                    </a>
                                </li>
                                <li class="footer-dropdown__item">
                                    <a href="#" class="footer-dropdown__link">
                                        Нормативные акты РИ
                                    </a>
                                </li>
                                <li class="footer-dropdown__item">
                                    <a href="#" class="footer-dropdown__link">
                                        Приказы МЗ РИ
                                    </a>
                                </li>
                                <li class="footer-dropdown__item">
                                    <a href="#" class="footer-dropdown__link">
                                        Другие документы
                                    </a>
                                </li>
                                <li class="footer-dropdown__item">
                                    <a href="#" class="footer-dropdown__link">
                                        Родовспоможение и детство
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> <!--header__dropdowns-->
            <!-- <div class="footer__rows">
                <ul class="footer__cols-list">
                    <li class="item">
                        <a class="item-link" href="#">
                            О Министерстве
                        </a>
                    </li>
                    <li class="item">
                        <a class="item-link" href="#">
                            Документы
                        </a>
                    </li>
                    <li class="item">
                        <a class="item-link" href="#">
                            Пресс-центр
                        </a>
                    </li>
                    <li class="item">
                        <a class="item-link" href="#">
                                Обращения граждан
                        </a>
                    </li>
                </ul>
            </div> -->
        </div>
    </div>
    <hr/>
    <div class="footer__address">
        <div class="container">
            <div class="footer__adress-block">

                <div class="block-name">
                    <div class="logo_text">
                        <div class="logo_right hidden-sm">Министерство здравоохранения</div>
                        <div class="logo_right hidden-sm">Республики Ингушетия</div>
                        <div class="logo_bottom">Минздрав Ингушетии</div>
                    </div>
                </div>

                <div class="block-adress">
                    <div class="street">Адрес: Республика Ингушетия, <span>г.Назрань, ул. Муталиеа 37, 386102</span></div>
                    <div class="hotline_tel">+7 (928) 099-05-45</div>
                    <div class="email_admin">minzdravri@yandex.ru</div>
                    <div class="reception">8 (873 2) 22-20-90</div>
                    <div class="email">minzdravri@yandex.ru</div>
                </div>

                <div class="block-map">
                    map
                </div>
            </div>
        </div>
    </div>

</footer>