<header class="header">
    <!--header__menu-top-->
    <div class="container">
        <div class="header__cols_main">

            <div class="header__cols-first hidden-md">
                <div class="header__block-menu_top cols_first">
                    <nav class="header__menu_top">
                        <ul class="header__list">
                            <li class="item">
                                <a href="https://www.ingushetia.ru/" class="header__link">
                                    Глава Ингушетии
                                </a>
                            </li>
                            <li class="item">
                                <a href="http://pravitelstvori.ru/" class="header__link">
                                    Правительство РИ
                                </a>
                            </li>
                            <li class="item">
                                <a href="https://www.parlamentri.ru/" class="header__link">
                                    Парламент РИ
                                </a>
                            </li>
                            <li class="item">
                                <a href="https://edu.rosminzdrav.ru/" class="header__link">
                                    Портал НМО
                                </a>
                            </li>
                            <li class="item">
                                <a href="#" class="header__link">
                                    Госуслуги
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
    
                <div class="header__block-social_networks cols_first">
                    <nav class="header__items">
                        <a class="item-link" href="https://www.instagram.com/minzdrav_ri/">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="item-link" href="#">
                            <i class="fab fa-vk"></i>
                        </a>
                    </nav>
                </div>
            </div> <!--header__cols-first -->
        
            
        <!--header__cols_middle-->
            <div class="header__cols_middle">
        
                <div class="header__logo  cols_middle">
                    <img class="img" src="../../assets/img/logo.png" alt="logo">
                    <div class="logo_text">
                        <div class="logo_right hidden-sm">Министерство здравоохранения</div>
                        <div class="logo_right hidden-sm">Республики Ингушетия</div>
                        <div class="logo_bottom">Минздрав Ингушетии</div>
                    </div>
                </div>
        
                <div class="hotline cols_middle">
                    <a href="#">
                        <div class="hotline__text">Горячая линия по covid-19 <i class="fas fa-phone"></i></div>
                    </a>
                </div>
        
                <div class="header__question  cols_middle">
                    <a href="#">
                        <div class="question">
                            Задать вопрос
                        </div>
                    </a>
                </div>
        
            </div> <!--header__cols_middle-->
    
        <!--header__cols_end-->
            <div class="header__cols_end">
                
                <div class="header__dropdowns hidden-md">
                    <div class="header-dropdown">
                        <div class="dropdown-component">
                            <div class="dropdown__title">Министерство</div>
                            <div class="dropdown__menu hidden">
                                <ul class="header-dropdown-list">
                                    <li class="header-dropdown__item">
                                        <a class="header-dropdown__link" href="#">
                                            Структура
                                        </a>
                                    </li>
                                    <li class="header-dropdown__item">
                                        <a class="header-dropdown__link" href="#">
                                            Руководство
                                        </a>
                                    </li>
                                    <li class="header-dropdown__item">
                                        <a class="header-dropdown__link" href="#">
                                            Руководители ЛПУ МЗ РИ
                                        </a>
                                    </li>
                                    <li class="header-dropdown__item">
                                        <a class="header-dropdown__link" href="#">
                                            Правовые основы деятельности
                                        </a>
                                    </li>
                                    <li class="header-dropdown__item">
                                        <a class="header-dropdown__link" href="#">
                                            Программа
                                        </a>
                                    </li>
                                    <li class="header-dropdown__item">
                                        <a class="header-dropdown__link" href="#">
                                            Государственная служба
                                        </a>
                                    </li>
                                    <li class="header-dropdown__item">
                                        <a class="header-dropdown__link" href="#">
                                            Сведения о проведенных проверках
                                        </a>
                                    </li>
                                    <li class="header-dropdown__item">
                                        <a class="header-dropdown__link" href="#">
                                            Реквизиты
                                        </a>
                                    </li>
                                    <li class="header-dropdown__item">
                                        <a class="header-dropdown__link" href="#">
                                            Контакты
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
    
                    <div class="header-dropdown">
                        <div class="dropdown-component">
                            <div class="dropdown__title">Пресс-центр</div>
                            <div class="dropdown__menu hidden">
                                <ul class="header-dropdown-list">
                                    <li class="header-dropdown__item">
                                        <a href="#" class="header-dropdown__link">
                                            Новости
                                        </a>
                                    </li>
                                    <li class="header-dropdown__item">
                                        <a href="#" class="header-dropdown__link">
                                            Структура
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
    
                    <div class="header-dropdown">
                        <div class="dropdown-component">
                            <div class="dropdown__title">Для населения</div>
                            <div class="dropdown__menu hidden">
                                <ul class="header-dropdown-list">
                                    <li class="header-dropdown__item">
                                        <a href="#" class="header-dropdown__link">
                                            Вакцинация
                                        </a>
                                    </li>
                                    <li class="header-dropdown__item">
                                        <a href="#" class="header-dropdown__link">
                                            Медицинская помощь
                                        </a>
                                    </li>
                                    <li class="header-dropdown__item">
                                        <a href="#" class="header-dropdown__link">
                                            Лекарственное обеспечение
                                        </a>
                                    </li>
                                    <li class="header-dropdown__item">
                                        <a href="#" class="header-dropdown__link">
                                            Целевое обучение
                                        </a>
                                    </li>
                                    <li class="header-dropdown__item">
                                        <a href="#" class="header-dropdown__link">
                                            Волонтерство
                                        </a>
                                    </li>
                                    <li class="header-dropdown__item">
                                        <a href="#" class="header-dropdown__link">
                                            Интернет-приемная службы здравоохранения
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
    
                    <div class="header-dropdown">
                        <div class="dropdown-component">
                            <div class="dropdown__title">Специалистам</div>
                            <div class="dropdown__menu hidden">
                                <ul class="header-dropdown-list">
                                    <li class="header-dropdown__item">
                                        <a href="#" class="header-dropdown__link">
                                            Кадровая программа
                                        </a>
                                    </li>
                                    <li class="header-dropdown__item">
                                        <a href="#" class="header-dropdown__link">
                                            Резерв медицинских кадров
                                        </a>
                                    </li>
                                    <li class="header-dropdown__item">
                                        <a href="#" class="header-dropdown__link">
                                            Аттестация
                                        </a>
                                    </li>
                                    <li class="header-dropdown__item">
                                        <a href="#" class="header-dropdown__link">
                                            Вакансии
                                        </a>
                                    </li>
                                    <li class="header-dropdown__item">
                                        <a href="#" class="header-dropdown__link">
                                            Лицензирование
                                        </a>
                                    </li>
                                    <li class="header-dropdown__item">
                                        <a href="#" class="header-dropdown__link">
                                            Лицензирование
                                        </a>
                                    </li>
                                    <li class="header-dropdown__item">
                                        <a href="#" class="header-dropdown__link">
                                            Меры социальной поддержки
                                        </a>
                                    </li>
                                    <li class="header-dropdown__item">
                                        <a href="#" class="header-dropdown__link">
                                            Статистическая отчетность
                                        </a>
                                    </li>
                                    <li class="header-dropdown__item">
                                        <a href="#" class="header-dropdown__link">
                                            Реестр оборудования
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
    
                    <div class="header-dropdown">
                        <div class="dropdown-component">
                            <div class="dropdown__title">Организации</div>
                            <div class="dropdown__menu hidden">
                                <ul class="header-dropdown-list">
                                    <li class="header-dropdown__item">
                                        <a href="#" class="header-dropdown__link">
                                            Медицинские организации
                                        </a>
                                    </li>
                                    <li class="header-dropdown__item">
                                        <a href="#" class="header-dropdown__link">
                                            Страховые медицинские организации
                                        </a>
                                    </li>
                                    <li class="header-dropdown__item">
                                        <a href="#" class="header-dropdown__link">
                                            Территориальный фонд ОМС
                                        </a>
                                    </li>
                                    <li class="header-dropdown__item">
                                        <a href="#" class="header-dropdown__link">
                                            Территориальный орган Росздравнадзора по РИ
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
    
                    <div class="header-dropdown">
                        <div class="dropdown-component">
                            <div class="dropdown__title">Бизнесу</div>
                            <div class="dropdown__menu hidden">
                                <ul class="header-dropdown-list">
                                    <li class="header-dropdown__item">
                                        <a href="#" class="header-dropdown__link">
                                            Получение лицензии
                                        </a>
                                    </li>
                                    <li class="header-dropdown__item">
                                        <a href="#" class="header-dropdown__link">
                                            О лицензировании дезинфекционной деятельности
                                        </a>
                                    </li>
                                    <li class="header-dropdown__item">
                                        <a href="#" class="header-dropdown__link">
                                            Другие виды медицинского лицензирования
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
    
                    <div class="header-dropdown">
                        <div class="dropdown-component">
                            <div class="dropdown__title">Документы</div>
                            <div class="dropdown__menu hidden">
                                <ul class="header-dropdown-list">
                                    <li class="header-dropdown__item">
                                        <a href="#" class="header-dropdown__link">
                                            Федеральные нормативные акты
                                        </a>
                                    </li>
                                    <li class="header-dropdown__item">
                                        <a href="#" class="header-dropdown__link">
                                            Нормативные акты РИ
                                        </a>
                                    </li>
                                    <li class="header-dropdown__item">
                                        <a href="#" class="header-dropdown__link">
                                            Приказы МЗ РИ
                                        </a>
                                    </li>
                                    <li class="header-dropdown__item">
                                        <a href="#" class="header-dropdown__link">
                                            Другие документы
                                        </a>
                                    </li>
                                    <li class="header-dropdown__item">
                                        <a href="#" class="header-dropdown__link">
                                            Родовспоможение и детство
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> <!--header__dropdowns-->

                <div class="header__search">
                    <div class="search">
                        <input class="input  hidden-sm" type="text" placeholder="поиск">
                        <i class="fas fa-search"></i>
                    </div>
                </div>

                <div class="burger">
                    |||
                </div>

            </div> <!--header__cols_end-->
    
        </div> <!--header__cols_main-->
    </div>
</header>