$white: #fff;
$black: #000;
$green: green;

$blue_light: cornflowerblue;
$blue_dark: #395791;

$gray_border: #d6d6d6;

$footer_bgc: #2d3157;

$footer: #212338;

$radius: 5px;
$shadow: 0 0 15px rgba($black, .5);